.Setting {
    display: flex;
    height: 100%;
    overflow-y: hidden;

    input[type="checkbox"] {
        &:hover {
            cursor: pointer;
        }
    }

    .LeftSection {
        box-sizing: border-box;
        display: flex;
        flex: 1;
        flex-direction: column;
        height: 100%;
        overflow-y: scroll;
        padding: 20px;
        row-gap: 20px;

        .MemberGroup {
            > .TopBar {
                align-items: center;
                background-color: rgba(0, 0, 0, 0.03);
                border-radius: 4px;
                display: flex;
                margin-bottom: 10px;
                padding: 6px 10px;

                .SelectGroup {
                    margin-right: 10px;
                }

                .Name {
                    flex: 1;
                    font-size: 16px;
                    font-weight: bold;
                }

                .Selected {
                    font-size: 14px;
                    font-weight: bold;
                }
            }

            .Members {
                column-gap: 10px;
                display: flex;
                flex-wrap: wrap;
                row-gap: 10px;

                .Member {
                    align-items: center;
                    border-radius: 4px;
                    display: flex;
                    flex-direction: column;
                    padding: 20px 10px;
                    user-select: none;
                    width: 140px;

                    &:hover {
                        background-color: #FAFAFA;
                        cursor: pointer;
                    }

                    &.Selected {
                        background-color: #F5F5F5;

                        &:hover {
                            background-color: #eeeeee;
                        }
                    }

                    .Profile {
                        background-color: #424242;
                        border-radius: 50%;
                        height: 80px;
                        width: 80px;
                        overflow: hidden;
                        font-size: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;

                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }

                    .Name {
                        font-size: 14px;
                        font-weight: bold;
                        margin-top: 10px;
                    }

                    .Statuses {
                        column-gap: 10px;
                        display: flex;
                        justify-content: center;
                        margin-top: 10px;

                        .GithubAccountLinkingStatus {
                            border: 3px solid transparent;
                            border-radius: 50%;
                            height: 20px;
                            padding: 3px;
                            width: 20px;

                            img {
                                height: 100%;
                                opacity: 0.15;
                                width: 100%;
                            }

                            &.Linked {
                                img {
                                    opacity: 1;
                                }
                            }

                            &.Required {
                                border-color: #FFA000;
                            }
                        }
                    }
                }
            }
        }
    }

    .RightSection {
        border-left: 3px solid #EEEEEE;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        height: 100%;

        .MembersSelected {
            font-weight: bold;
            padding: 20px 10px;

            div {
                text-align: center;
            }
        }

        .Divider {
            border-top: 3px solid #EEEEEE;
        }

        .Actions {
            align-items: center;
            display: flex;
            flex: 1;
            flex-direction: column;
            overflow-y: auto;
            padding: 20px 10px;
            row-gap: 10px;

            .Action {
                align-items: center;
                border-radius: 4px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                padding: 10px;
                user-select: none;
                width: 140px;

                &:hover {
                    background-color: #F5F5F5;
                    cursor: pointer;
                }

                .Name {
                    font-weight: bold;
                    margin-top: 10px;
                    text-align: center;
                }

                .RequireGithub {
                    border: 3px solid #FFA000;
                    border-radius: 50%;
                    height: 20px;
                    padding: 3px;
                    width: 20px;

                    img {
                        height: 100%;
                        opacity: 0.15;
                        width: 100%;
                    }
                }

                .CancelRequireGithub {
                    border: 3px solid #BDBDBD;
                    border-radius: 50%;
                    height: 20px;
                    padding: 3px;
                    width: 20px;

                    img {
                        height: 100%;
                        opacity: 0.15;
                        width: 100%;
                    }
                }
            }
        }
    }
}