.EditEvent {
    select {
        border: 2px solid #eaeaea;
        font-size: 14px;
        font-weight: bold;
        outline: none;
        padding: 6px 10px;
        width: 100%;
    }

    .Input {
        background-color: #e8e8e8;
        border: none;
        border-radius: 4px;
        box-sizing: border-box;
        outline: none;
        padding: 6px 10px;
    }

    .SameRow {
        align-items: center;
        display: flex;

        .Label {
            margin-right: 10px;
        }

        .Input {
            flex: 1;
        }
    }

    .EditEventDetail {
        border: 2px solid #eaeaea;
        margin-top: 10px;
        padding: 10px;
    }

    .Button {
        background-color: #388e3c;
        border: 2px solid #2e7d32;
        border-radius: 6px;
        box-sizing: border-box;
        color: white;
        font-size: 20px;
        font-weight: 500;
        padding: 6px 40px;
        text-align: center;
        user-select: none;

        &:hover {
            cursor: pointer;
            opacity: 0.9;
        }

        &.TriggerEvent {
            margin-top: 10px;
        }
    }
}